body {
    padding-top: 50px;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

li .configSelec {
    direction: rtl;
    line-height: 50px;
}


.container-fluid {
    border-radius: 20px;
    text-align: center;
}

.container-text-left {
    border-radius: 20px;
    text-align: left;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav li a {
 line-height: 50px;
}

.navbar-brand {
  line-height: 50px;
}

.carousel {
  border: 2px outset lightgrey;
}

.jumbotron {
  border: 1px solid lightgrey;
}
 .tab-content {
   border-top: 1px solid #ccc;
   padding-top: 10px;
   text-align: center;
 }

 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

input[readonly].form-control {
  background-color: #fff;
}

textarea[readonly].form-control {
  background-color: #fff;
}

.form-control::-webkit-input-placeholder {
    color: black;
}

.form-control::-moz-input-placeholder {
    color: black;
}

.form-control::-ms-input-placeholder {
    color: black;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

.panel-height {
  height: 60px;
  line-height: 30px;
}

.panel-height-sub {
  height: 60px;
  line-height: 10px;
}

.alert {
  padding-top: 8px;
  vertical-align: center;
  text-align: center;
  height: 50px;
}

h2 {
    font-size: 25px;
}